<p>Hola <strong><%= @user.email.split('@')[0]%></strong></p>
<p>Tu crédito en la tienda  de Memo ha llegado al tope de : <strong><%= @balance %></strong> , bajo estas circunstancias no se pueden habilitar más crédios</p>

<p>Saludos de parte de todo el equió de la Tienda de Memo!</p>