@import "bootstrap-sprockets";
@import "bootstrap";

nav.navbar {
	margin-bottom: 0;
}

div#productcontainer {
	margin-top: 20px;
}

div .arnulfo{
	font-size: 30px;
	text-shadow: rgba(0,0,250,.5)  5px 5px 20px;
	margin-right: 30px;
	margin-top: 1px;
	
}
.thumbnail {
	height: 300px;
}

p.description {
	height: 40px;
	overflow: auto;
}

.label-success.balance-status>a, .label-danger.balance-status>a{
	color: white !important;
}