@import "bootstrap-sprockets";
@import "bootstrap";

nav.navbar {
	margin-bottom: 0;
}

div#productcontainer {
	margin-top: 20px;
}

.thumbnail {
	height: 300px;
}

p.description {
	height: 40px;
	overflow: auto;
}